body {
    color:coral;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

div {
    color:darkolivegreen;
}

.container-1 {
    background-color: black;
    height: 100px;
    font-weight: 300;
}

p{
    height: 80px;
}